body {
    font-family: pirulen,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: #0B3948;
    text-align: center;
    font-size: 5vmin;
}

h1.homepage {
    color: #0ca4a5;
    text-align: center;
    font-size: 5vmin;
}

h2 {
    color: #0B3948;
    text-align: center;
    font-size: 2vmin;
}

p {
    color: #DEF4C6;
}


/*nav*/
li {
    color: #DEF4C6;
}

li a{
    color: #DEF4C6;
}

li a:hover {
    color: #0ca4a5;
}

td a {
    color: #fbaf00;
}

td a:hover {
    color: #0B3948;
}