{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Add Album {% endblock %}</h1>
{%  endblock %}

{%  block content %}
            <form method="POST" id="addAlbum">
    <table>


<tr>
        <th><label>Title:</label></th>
        <th><label>Release Date:</label></th>
</tr>

             <tr>
           <td><input type="text" name="title" placeholder="album title"></td>
           <td><input type="date" name="release_date"></td>


    </table>

        <button>Add Album</button>
            </form>
{%  endblock %}