{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Add Playlist {% endblock %}</h1>
{%  endblock %}

{%  block content %}
    <table>
        <form method="POST" id="addPlaylist">

<tr>
        <th>Created At:</th>
        <th>Title:</th>
        <th>User ID:</th>

</tr>

         <tr>
             <td><input type="date" name="created_at" value="{{ today_date }}"></td>
             <td><input type="text" name="title" placeholder="playlist title"></td>
             <td><select name="user_id" id="user_id">
               <option value="0" selected>&nbsp;</option>
                {% for user_id in user_ids %}
                    <option value="{{ user_id['user_id'] }}"> {{ user_id['user_id'] }}</option>
                {% endfor %}
                </select>
        </td>



    </table>

        <button>Add Playlist</button>
    </form>
{%  endblock %}