{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Add Artists {% endblock %}</h1>
{%  endblock %}

{%  block content %}
    <table>
        <form method="POST" id="addArtist">
       <tr>

           <th><label> Title:</label></th>
           <th><label>Bio</label></th>
           <th><label>Genre</label></th>
           <th><label>Label</label></th>
           </tr>

        <tr>
            <td><input type="text" name="title" placeholder="Enter Name"></td>
            <td><input type="text" name="bio" placeholder="Add Bio..."></td>
            <td><select name="genre">
               <option value = "0"> Enter Genre </option>
               <option value = "Hard Rock">Hard Rock</option>
               <option value = "Pop Punk">Pop Punk</option>
               <option value = "Hip Hop">Hip Hop</option>
               <option value = "Pop">Pop</option>
           </select></td>
            <td><input type="text" name="label" placeholder="Enter Label"></td>
        </tr>
    </table>
    {# Button needed to be within form tag #}
    <button>Add Artist</button>

    </form>

    {# <button><a href="{{ url_for('artists') }}">Add Artist</a></button> #}
    {# ** Left this here in case we need it ** #}

{%  endblock %}