{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Add Artist Song {% endblock %}</h1>
{%  endblock %}

{%  block content %}
    <table>
        <form method="POST" id="addArtistSong">



<tr>
        <th>Artist ID:</th>
        <th>Song ID:</th>

</tr>

             <tr>

            <td><select name="artist_id" id="artist_id">
            <option value="0" selected>&nbsp;</option>
             {% for artist_id in artist_ids %}
                 <option value="{{ artist_id['artist_id'] }}"> {{ artist_id['artist_id'] }}</option>
            {% endfor %}
            </select></td>
            <td><select name="song_id" id="song_id">
            <option value="0" selected>&nbsp;</option>
             {% for song_id in song_ids %}
                 <option value="{{ song_id['song_id'] }}"> {{ song_id['song_id'] }}</option>
            {% endfor %}
            </select></td>
             </tr>


    </table>

        <button>Add Artist Song</button>
    </form>
{%  endblock %}