{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Add Album {% endblock %}</h1>
{%  endblock %}

{%  block content %}
    <table>
        <form method="POST" id="addAlbum">

<tr>
        <th>title</th>
        <th>release date</th>
</tr>

             <tr>
           <td><input type="text" name="title" placeholder="album title"></td>
           <td><input type="date" name="date"></td>

        </form>
    </table>

        <button><a href="{{ url_for('albums') }}">Add Album</a></button>
{%  endblock %}