{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Add Songs {% endblock %}</h1>
{%  endblock %}

{%  block content %}
   <table>
        <form method="POST" id="addSong">
            <tr>
        <th>title</th>
        <th>length</th>
        <th>release date</th>
</tr>

            <tr>
                <td><input type="text" name="title" placeholder="Song Title"></td>
                <td><input type="text" name="length" placeholder="mm:ss"></td>
                <td><input type="date" name="release_date"></td>

            </tr>


        </form>
   </table>

            <button><a href="{{ url_for('songs') }}">Add Song</a></button>
{%  endblock %}