{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Add Playlist {% endblock %}</h1>
{%  endblock %}

{%  block content %}
    <table>
        <form method="POST" id="addPlaylist">

<tr>
        <th>Created At</th>
        <th>Title</th>

</tr>

             <tr>
                 <td><input type="date" name="date"></td>
                 <td><input type="text" name="title" placeholder="playlist title"></td>


        </form>
    </table>

        <button><a href="{{ url_for('playlists') }}">Add Playlist</a></button>
{%  endblock %}