{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Albums {% endblock %}</h1>
{%  endblock %}

{%  block content %}

    <table>
{#    table header#}
    <tr>
        <th>Album ID</th>
        <th>title</th>
        <th>release date</th>
        <th></th>
        <th></th>
    </tr>


{#    table data#}
    <tr>
        <td>1</td>
        <td>Ocean Eyes</td>
        <td>2009-07-28</td>
        <td><a href="{{ url_for('update_album') }}">Edit</a></td>
        <td><a href="{{ url_for('delete_album') }}">Delete</a></td>
    </tr>

        <tr>
        <td>2</td>
        <td>To the Extreme</td>
        <td>1990-09-03</td>
        <td><a href="{{ url_for('update_album') }}">Edit</a></td>
        <td><a href="{{ url_for('delete_album') }}">Delete</a></td>


        <tr>
        <td>3</td>
        <td>Simple Plan</td>
        <td>2008-02-12</td>
        <td><a href="{{ url_for('update_album') }}">Edit</a></td>
        <td><a href="{{ url_for('delete_album') }}">Delete</a></td>
    </tr>

        <tr>
        <td>4</td>
        <td>Raising Hell</td>
        <td>1996-07-04</td>
        <td><a href="{{ url_for('update_album') }}">Edit</a></td>
        <td><a href="{{ url_for('delete_album') }}">Delete</a></td>
    </tr>

    </table>

        <button><a href="{{ url_for('add_album') }}">Add Album</a></button>
{%  endblock %}