{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Artists {% endblock %}</h1>
{%  endblock %}

{%  block content %}

    <table>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Artists[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
        <th>Edit</th>
        <th>Delete</th>
    </tr>


    <tbody>
    <!-- Now, iterate through every person in bsg_people -->
    {% for artist in Artists %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in artist.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{artist[key]}}</td>
        {% endfor %}
        <td><a href="{{ url_for('update_artist') }}">Edit</a></td>
        <td><a href="/delete-artist/{{artist.artist_id}}">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

    <button><a href="{{ url_for('add_artist') }}">Add Artist</a></button>


{%  endblock %}