{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Delete Song {% endblock %}</h1>
{%  endblock %}

{%  block content %}
  <h2>Confirm Deletion</h2>
    <table>
        <form method="POST" id="deleteSong">
            <tr>
        <th>title</th>
        <th>length</th>
        <th>release date</th>
            </tr>

            <tr>
                <td>Generation</td>
                <td>3:03</td>
                <td>2008-02-12</td>
            </tr>

        </form>
    </table>

            <button><a href="{{ url_for('songs') }}">Delete Song</a></button>
{%  endblock %}