<!doctype html>
<title>{% block title %}{% endblock %} AudioCat Streaming Service</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>

  <ul>

      <li><a href="{{  url_for('index') }}">Home</a></li>
      <li><a href="{{  url_for('users') }}">Users</a></li>
      <li><a href="{{  url_for('artists') }}">Artists</a></li>
      <li><a href="{{  url_for('albums') }}">Albums</a></li>
      <li><a href="{{  url_for('playlists') }}">Playlists</a></li>



  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}{% endblock %}
</section>