{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Playlists {% endblock %}</h1>
{%  endblock %}

{%  block content %}

    <table>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Playlists[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
        <th>Edit</th>
        <th>Delete</th>
    </tr>


    <tbody>
    <!-- Now, iterate through every person in bsg_people -->
    {% for playlist in Playlists %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in playlist.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{playlist[key]}}</td>
        {% endfor %}
        <td><a href="/update-playlist/{{ playlist.playlist_id }}">Edit</a></td>
        <td><a href="/delete-playlist/{{playlist.playlist_id}}">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

    <button><a href="{{ url_for('add_playlist') }}">Add Playlist</a></button>


{%  endblock %}