{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update Artist {% endblock %}</h1>
{%  endblock %}

{%  block content %}
    <table>
   <form method="POST" id="UpdateArtist">
{#   <fieldset class="fields">#}
      <input type="hidden" name="artist_id" id="updateartistID" value="1">

       <tr>
           <th><label> ID: </label></th>
           <th><label> Title:</label></th>
           <th><label>Bio</label></th>
           <th><label>Genre</label></th>
           <th><label>Label</label></th>
           </tr>

       <tr>
           <td>1</td>
           <td><input type="text" name="title" value="Aerosmith"></td>
           <td><input type="text" name="bio" value="Aerosmith is an American rock band formed in Boston in 1970."></td>
           <td><select name="genre">
               <option value = "0"> </option>
               <option value = "1">Hard Rock</option>
               <option value = "2">Pop Punk</option>
               <option value = "3">Hip Hop</option>
               <option value = "4">Pop</option>
           </select></td>

           <td><input type="text" name="label" value="Columbia" </td>
{#   </fieldset>#}
   </form>

    </table>

        <button><a href="{{ url_for('artists') }}">Update Artist</a></button>
{%  endblock %}