{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update Playlist {% endblock %}</h1>
{%  endblock %}

{%  block content %}

   <form method="POST" id="UpdatePlaylist">
    <table>
      <input type="hidden" name="playlist_id" id="updatePlaylistID" value="1">

      {#   <fieldset class="fields">#}


       <tr>
       <th>Playlist ID</th>
       <th>Created At</th>
       <th>Title</th>
       <th>User ID</th>
       </tr>

       <tr>
           <td>{{ playlist["playlist_id"] }}</td>
           <td><input type="date" name="created_at" value="{{ playlist['created_at'] }}"></td>
           <td><input type="text" name="title" value="{{ playlist['title'] }}"></td>
           <td><select name="user_id" id="user_id">
             {% for user_id in user_ids %}
                 {% if user_id["user_id"] == playlist["user_id"] %}
                     <option value="{{ user_id['user_id'] }}" selected> {{ user_id['user_id'] }}</option>
                 {% else %}
                     <option value="{{ user_id['user_id'] }}"> {{ user_id['user_id'] }}</option>
                 {% endif %}
            {% endfor %}
            </select></td>
       </tr>


 </table>
                    <button>Update Playlist</button>
                       </form>
{%  endblock %}