{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update Song {% endblock %}</h1>
{%  endblock %}

{%  block content %}
    <form method="POST" id="UpdateSong">
    <table>
    <input type="hidden" name="song_id" id="updateSongID" value="1">
{#   <fieldset class="fields">#}

            <tr>
        <th><label>Song ID: </label></th>
        <th><label>Title: </label></th>
        <th><label>Length: </label></th>
        <th><label>Release Date: </label></th>
        <th><label>Album ID: </label></th>
    </tr>

    <tr>
            <td>{{ song["song_id"] }}</td>
           <td><input type="text" name="title" value="{{ song['title'] }}"></td>
           <td><input type="text" name="song_length" value="{{ song['song_length'] }}"></td>
            <td><input type="date" name="release_date" value="{{ song['release_date'] }}"></td>
            <td><select name="album_id" id="album_id">
             {% for album_id in album_ids %}
                 {% if album_id["album_id"] == song["album_id"] %}
                     <option value="{{ album_id['album_id'] }}" selected> {{ album_id['album_id'] }}</option>
                 {% else %}
                     <option value="{{ album_id['album_id'] }}"> {{ album_id['album_id'] }}</option>
                 {% endif %}
            {% endfor %}
            </select></td>
   </tr>

 </table>

                <button>Update Song</button>
    </form>
{%  endblock %}