{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update Artist {% endblock %}</h1>
{%  endblock %}

{%  block content %}

    <form method="POST" id="UpdateArtist">


   <table>
{#   <fieldset class="fields">#}
      <input type="hidden" name="artist_id" id="updateArtistID" value="1">

       <tr>
           <th><label> ID: </label></th>
           <th><label> Title:</label></th>
           <th><label>Bio</label></th>
           <th><label>Genre</label></th>
           <th><label>Label</label></th>
           </tr>

       <tr>
           <td>{{ artist["artist_id"] }}</td>
           <td><input type="text" name="title" value={{artist['title']}}></td>
           <td><input type="text" name="bio" value={{artist['bio']}}></td>
           <td><select name="genre">
               <option value = "0"> </option>
               <option value = "Hard Rock">Hard Rock</option>
               <option value = "Pop Punk">Pop Punk</option>
               <option value = "Hip Hop">Hip Hop</option>
               <option value = "Pop">Pop</option>
           </select></td>

           <td><input type="text" name="label" value={{artist['label']}} ></td>
{#   </fieldset>#}
    </table>
    <button>Update Artist</button>
    </form>


        {# <button><a href="{{ url_for('artists') }}">Update Artist</a></button> #}
{%  endblock %}