{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update Song {% endblock %}</h1>
{%  endblock %}

{%  block content %}
    <form method="POST" id="UpdateSong">
    <table>
    <input type="hidden" name="song_id" id="updateSongID" value="1">
{#   <fieldset class="fields">#}

            <tr>
        <th><label>Song ID: </label></th>
        <th><label>Title: </label></th>
        <th><label>Length: </label></th>
        <th><label>Release Date: </label></th>
        <th><label>Album ID: </label></th>
    </tr>

    <tr>
            <td>{{ song["song_id"] }}</td>
           <td><input type="text" name="title" value="{{ song['title'] }}""></td>
           <td><input type="text" name="number" value="{{ song['length'] }}"></td>
            <td><input type="date" name="date" value="{{ song['release_date'] }}"></td>
            <td>{{ song["album_id"] }}</td>
   </tr>

 </table>

                <button>Update Song</button>
    </form>
{%  endblock %}