{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update Artist Song {% endblock %}</h1>
{%  endblock %}

{%  block content %}
       <form method="POST" id="UpdateArtistSong">
 <table>
           <input type="hidden" name="Artist_Song_id" id="updateArtistSongID" value="1">

{#   <fieldset class="fields">#}

           <tr>
        <th><label>Artist Song ID: </label></th>
        <th><label>Artist ID:</label></th>
        <th><label>Song ID: </label></th>

    </tr>

<tr>
           <td>{{ Artist_Song["artist_song_id"] }}</td>
            <td><select name="artist_id" id="artist_id">
             {% for artist_id in artist_ids %}
                 {% if artist_id["artist_id"] == Artist_Song["artist_id"] %}
                     <option value="{{ artist_id['artist_id'] }}" selected> {{ artist_id['artist_id'] }}</option>
                 {% else %}
                     <option value="{{ artist_id['artist_id'] }}"> {{ artist_id['artist_id'] }}</option>
                 {% endif %}
            {% endfor %}
            </select></td>
            <td><select name="song_id" id="song_id">
             {% for song_id in song_ids %}
                 {% if song_id["song_id"] == Artist_Song["song_id"] %}
                     <option value="{{ song_id['song_id'] }}" selected> {{ song_id['song_id'] }}</option>
                 {% else %}
                     <option value="{{ song_id['song_id'] }}"> {{ song_id['song_id'] }}</option>
                 {% endif %}
            {% endfor %}
            </select></td>

</tr>

 </table>

    <button>Update Artist Song</button>
       </form>
{%  endblock %}