{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update Album {% endblock %}</h1>
{%  endblock %}

{%  block content %}
       <form method="POST" id="UpdateAlbum">
 <table>
           <input type="hidden" name="album_id" id="updateAlbumID" value="1">

{#   <fieldset class="fields">#}

           <tr>
        <th><label> ID: </label></th>
        <th><label>Title:</label></th>
        <th><label>Release Date: </label></th>

    </tr>

<tr>
               <td>{{ album["album_id"] }}</td>
           <td><input type="text" name="title" value="{{ album['title'] }}"></td>
           <td><input type="date" name="release_date" value="{{  album['release_date'] }}"></td>
</tr>

 </table>

    <button>Update Album</button>
       </form>
{%  endblock %}