{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update Song {% endblock %}</h1>
{%  endblock %}

{%  block content %}
 <table>
   <form method="POST" id="UpdateSong">
{#   <fieldset class="fields">#}
      <input type="hidden" name="song_id" id="updateSongID" value="1">
            <tr>
        <th>title</th>
        <th>length</th>
        <th>release date</th>
</tr>


           <td><input type="text" name="title" value="Generation"></td>
           <td><input type="number" name="number" value=3> : <input type="number" name="number" value=03> </td>
            <td><input type="date" name="date" value=2008-02-12</td>
   </form>
 </table>

                <button><a href="{{ url_for('songs') }}">Update Song</a></button>
{%  endblock %}