{%  extends 'main.j2' %}

{% block header %}
    <h1>{% block title %} Update User {% endblock %}</h1>
{%  endblock %}

{%  block content %}

    <form method="POST" id="UpdateUser">


    <table>
{#   <fieldset class="fields">#}
      <input type="hidden" name="user_id" id="updateUserID" value="1">

       <tr>
           <th><label>ID:</label></th>
           <th><label> First Name: </label></th>
           <th><label> Last Name: </label></th>
           <th><label>Email</label></th>
           <th><label>Created At:</label></th>
           <th><label>password</label></th>
           </tr>

       <tr>
           <td>{{ user["user_id"] }}</td>
           <td><input type="text" name="fname" value="{{user['first_name']}}"></td>
           <td><input type="text" name="lname" value="{{ user['last_name'] }}"></td>
           <td><input type="text" name="email" value="{{ user['email'] }}"></td>
           <td><input type="date" name="created_at" value="{{ user['created_at'] }}"></td>
           <td><input type="password" name="password" value="{{ user['password'] }}"></td>
       </tr>

{#   </fieldset>#}
    </table>
    <button>Update User</button>
        </form>


{%  endblock %}